.marqueeWrapper {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  mask-image: linear-gradient(to right, transparent 0%, black 2%, black 98%, transparent 100%);
  -webkit-mask-image: linear-gradient(to right, transparent 0%, black 2%, black 98%, transparent 100%);
  margin-top: 40px;
}

.marqueeContent {
  display: inline-block;
  animation: marquee 12s linear infinite;
}

.marqueeText {
  display: inline-block;
  font-weight: 600;
  color: rgb(107 114 128);
  line-height: 1.6;
  white-space: nowrap;
  padding-right: 1.5rem;
  /* text-transform: uppercase; */
  letter-spacing: -0.02em;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-20%);
  }
}