.subtitle {
  display: inline-block;
  font-weight: 600;
  line-height: 1.6;
  white-space: nowrap;
  letter-spacing: -0.02em;
  padding-right: 1.5rem;
}

.emptyCard {
  background-color: rgba(206, 225, 226, 0.1);
  border-radius: 20px;
  backdrop-filter: blur(4px);
  box-shadow: inset 0 0 50px 0 #85adaf;
}
